h1{
    color: cadetblue;
}

.resaltar-rojo{
    font-weight: 700;
    color:red;
}

.resaltar-amarillo{
    font-weight: 700;
    color: orange;
}

h2{
    color: blue;
}

.rojo{
    color: red;
}

.azul {
    color: blue;
}

table, th,td {
    border: 1px solid black;
}

th, .t1 {
    color: orange;
}

.t2{
    color: red;
}



.f{
    color: forestgreen;
}

.f-after{
    color: forestgreen;
}

.f-after::after{
    content: " purus ipsum";
    color: orange;
}

.titulo-col-1, .titulo-col-2 {
    color: red;
}




.p_debajo_tabla{
color: olive;
}

.p_span1{
    color: fuchsia;
}

.p_span2{
    color: forestgreen;
    text-decoration: underline;
}