form {
    display: grid;
    place-content: center;
    text-align: center;
    padding: 30px;
    margin: 160px auto;
    border-radius: 5px;
    width: 350px;
    height: 400px;
    border: 1px groove black;
    box-shadow: 1px 1px 20px 1px black;

}

input {
    text-align: center;
}

form legend {
    margin-bottom: 40px;
    font-weight: 400;
    text-shadow: 4px 4px 10px gray;
}

button {
    box-shadow: 2px 2px 10px 1px black;
}