*{
   box-sizing: border-box;
   font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: rgb(95, 79, 173);
}

/*
.nav-bar {
    background-color: blanchedalmond;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;

}
*/

/*recetas*/
.container-img img{
border-radius: 20px;    
width: 300px;
height: 300px;
}


/*beatles*/
.container-img-beatles img{
    border-radius: 20px;    
    width: 500px;
    height: 300px;
    object-fit: cover;
    }

table, th, td{
    width: auto;
    height: auto;
    border: 1px solid black;
}

.table-container{
    display: flex;
}


/*Formulario*/



.div-form-container{
    display: flex;
    width: 700px;
    height: auto;
}
